
.backgroundImageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.backgroundImage {
  width: 100%;
  height: 100%;
}

.backgroundImageOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
