.center {
  position: relative;
}

.centerHorizontal {
  margin: auto;
  text-align: center;
  width: 100%;
}

.centerHorizontal > .centered {
  width: 100%;
}

.centerVertical {
  height: 100%;
}

.centerVertical > .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

