.eventName{
	font-size: 24px;
}

.eventDate{
	font-size: 16px;
}

.eventBox{
  border: 2px solid white;
  padding: 5px;
  height: 200px;
  width: 200px;
  display: inline-block;
  margin: 50px 50px 50px 0px;
  text-align: center;
}