footer{

    p {
        font-weight: bold;
        font-size: 16px;
    }

    i {
        margin: 0px 15px;
    }

    .icons{
        margin: 10px auto;
    }

    .footerLinks, .footerLinks:visited, .footerLinks:hover {
        color: black;
    }
}