footer {
  .footerBorder {
    border-top: 0.5px solid #808080;
    width: 70%;
    margin: 0 auto;

    .footerContainer {
      height: 50px;
      margin-top: 15px;
      margin-bottom: 15px;

      i {
        margin: 0px 15px;
      }

      .copyright {
        font-weight: lighter;
        font-size: 16px;
        display: inline-block;
        float: left;
        margin: 13px auto;

        p {
          margin: 0px;
        }
      }

      .icons {
        margin: 10px auto;
        display: inline-block;
        float: right;
      }

      .footerLinks, .footerLinks:visited, .footerLinks:hover {
        color: black;
      }
    }
  }
}
