<div class="jumbotronMini familygroup">
  <h1>Family Groups</h1>
</div>

<div class="container">
  <div class="row fgInfo">
    <div class="col-sm-6 fgText">
      <p>At GCC, we place a high emphasis on Family Groups because we believe that
        it is in these smaller settings that we are able to meet with God, building
        meaningful relationships, and develop biblical accountability. Family
        groups meet on a weekly basis at various places.</p>

      <p>Through Bible study, discussions, sharing and prayer, we learn to live
        out the teachings of the Bible in our daily lives. You are strongly
        encouraged to join a family group that fits your needs, interests and
        life situation.</p>

      <p>Family groups are divided between the Harvest (undergraduate), Crossroad
        (post-college), and International groups. Please watch the video to the
          side to learn more!!</p>
    </div>

    <div class="col-sm-6">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/rvXubANV7RA" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row fgTiles">
    <h2>Sign up for family group by clicking the appropriate link below!</h2>

    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdxmRfSPxOdAJMTA8wI2DAgvr-Ps2dkyerp_Ud0KJEv7J6V9Q/viewform" target="=_blank"><div class="col-sm-4 imgfg">
      <div class="tile fgbox1 fgTile">
        <h2>College</h2>
      </div>
    </div></a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSc-DxNlyjHHrFODM3ZLj_YgzsuKhfo7EjfQYFbpdsVYgefMig/viewform" target="_blank"><div class="col-sm-4 imgfg">
      <div class="tile fgbox2 fgTile">
        <h2>Young Adult</h2>
      </div>
    </div></a>
    <a href="" target="=_blank"><div class="col-sm-4 imgfg">
      <div class="tile fgbox3 fgTile">
        <h2>International Bible Study</h2>
      </div>
    </div></a>
  </div>
</div>
