{
  "presets": [
    "env",
    "react"
  ],
  "env": {
    "server": {
      "plugins": [
        "dynamic-import-node",
        "transform-object-rest-spread",
        ["css-modules-transform", {
          "generateScopedName": "[name]__[local]___[hash:base64:5]",
          "extensions": [".css"]
        }]
      ]
    },
    "webpack": {
      "plugins": [
        "dynamic-import-webpack",
        "transform-object-rest-spread"
      ]
    },
    "test_backend": {
      "plugins": [
        "dynamic-import-node",
        "transform-object-rest-spread",
        ["css-modules-transform", {
          "generateScopedName": "[name]__[local]",
          "extensions": [".css"]
        }]
      ]
    }
  }
}
