{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "linebreak-style": "off",
    "prefer-destructuring": "off",
    "jsx-a11y/anchor-is-valid": ["error", {
      "components": ["Link"],
      "specialLink": ["to"],
      "aspects": [ "noHref", "invalidHref", "preferButton" ]
    }],
    "react/jsx-closing-bracket-location": ["error", {
      "selfClosing": ["after-props", "tag-aligned"],
      "nonEmpty": ["after-props", "tag-aligned"]
    }],
    "react/no-multi-comp": "off",
    "no-restricted-globals": "warn",
    "jsx-a11y/no-static-element-interactions": "warn",
    "jsx-a11y/label-has-for": "warn"
  }
}
