
.table-view {

  display: flex;
  flex-direction: column;

  .table-row {
    display: flex;
    flex-direction: row;
  }

  .table-row:nth-child(2n) {
    background-color: #f2f2f2;
  }

  .table-row:nth-child(2n + 1) {
    background-color: #f9f9f9;
  }

  .table-cell {
    position: relative;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;

    .resize-handle {
      display: none;
      position: absolute;
      top: 0;
      height: 100%;
      width: 6px;
      background-color: #ddd;
    }
  }

  .table-cell + .table-cell {
    .resize-handle {
      display: block;
    }

    .resize-handle-left {
      left: -3px;
      cursor: col-resize;
    }
  }
}
