.navbar {
  background-color: white;
  height: 80px;
}

.navbar .container {
  padding: 0 100px;
}

.navbar .nav > li > a{
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  text-shadow: 0 0 0 black;
  font-size: 16px;

}
.navbar-brand img {
  height: 40px;
  margin-top: 5px;
}
