<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a routerLink="/" class="navbar-brand"><img src="assets/images/gcclogo.jpg" /></a>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/about">About Us</a></li>
      <li><a href="/familygroup">Family Groups</a></li>
      <li><a href="/ministries">Ministries</a></li>
      <li><a href="/giving">Giving</a></li>
      <li><a href="/multimedia">Multimedia</a></li>
      <li><a href="/calendar">Calendar</a></li>
    </ul>
  </div>
</nav>
