<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-8">
            <h2>
                <span>{{title}}</span>
                <a class="pull-right btn btn-default" (click)="create()">Create</a>
            </h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th *ngFor="let category of categories">{{category}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data" (click)="setItem(item)">
                        <td *ngFor="let category of categories">{{item[category]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 col-md-4">
          <ng-template admin-form></ng-template>
        </div>
    </div>
</div>
