<div class="container imnew">
  <div class="row words">
    <h3><strong>Welcome to GCC! If you want to learn more about our church, you're in the right place!</strong></h3>

    <p>Our doors are wide open to people from all backgrounds. Whether you are a
      spiritual seeker just beginning to ask questions about God or a committed
      Christian wanting to deepen your faith, Grace Covenant Church is a place
      you can call home and find spiritual help, hope, and encouragement.
       Wherever you are in your spiritual journey, we invite you to discover
       GCC—and discover for yourself God’s wonderful love and plan for your life!</p>
  </div>

  <div class="newVid">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5M8H4xhSPWc" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="row words">
    <p>What makes us unique? It isn’t our beliefs. We affirm the same basic
      Christian doctrines that have been a part of the Church for hundreds of
      years. Rather, we are committed to presenting these truths in a practical,
      relevant, contemporary, and loving manner. Our desire is to introduce you
      to Jesus Christ and to help you grow and become a kingdom worker. We want
      to help you to become a kingdom worker who can influence the world around
      you with the love of Jesus Christ.</p>
  </div>

  <div class="row newpics">
    <div class="col-sm-4 col-sm-offset-2 imnewcol">
      <img src="assets/images/about/imnew/col1.jpg" class="img-responsive"/>
    </div>
    <div class="col-sm-4 imnewcol">
      <img src="assets/images/about/imnew/col2.jpg" class="img-responsive"/>
    </div>
  </div>

  <div class="row words">
    <p>Our church is comprised of a network of <a href="#">“family groups“;</a> small group
      settings where honest friendships, Bible study, constant prayer, and
      compassionate care are emphasized. It is within these dynamic family groups
      where the core of our evangelism and discipleship take place. We invite you
      to become of a part of these contagious Christian communities that strive to
      influence and encourage one another.</p>

     <p>Again, whether you’re a spiritual seeker who’s just starting to ask
       questions about God, or a committed Christian who wants to sink the roots
       of your faith even deeper, you can find a home here at Grace Covenant Church.</p>

    <p>Our Sunday Services and Friday Night Large Groups are typically located at
      Meyerson Hall Room B-1, 3401 Walnut Street Philadelphia, PA 19104.
      We oftentimes meet at our Ministry Center, 3700 Baring Street Philadelphia,
      PA 19104, as well. Keep an eye out for Grace Covenant Church signs and
      our welcomers to find us!</p>
  </div>

  <div class="row maps">
    <div class="col-sm-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.5142091359617!2d-75.19485488415309!3d39.952254729421895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6c65a636cfff1%3A0x7f6ed003cb68de7f!2sMeyerson+Hall%2C+Philadelphia%2C+PA+19104!5e0!3m2!1sen!2sus!4v1489441260133"
      width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="col-sm-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.1353723510324!2d-75.19775568415288!3d39.9607259794208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6c6547f01aded%3A0xdec21da015d72f94!2s3700+Baring+St%2C+Philadelphia%2C+PA+19104!5e0!3m2!1sen!2sus!4v1489441287190"
      width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row words">
    <p>If you would like more information about the church, please continue
      looking through this website or contact us at
      <a href="mailTo:web@gracecovenant.net">web@gracecovenant.net.</a></p>

    <p id="commonQ">Common Questions</p>
    <ul id="commonQList">
      <li>What is your <a href="/#/about/believe">doctrine of faith?</a></li>
      <li>What are <a href="#">family groups?</a> How can I join one?</li>
      <li>Who can I <a href="/#/about/staff">contact</a> to find out more about GCC?</li>
    </ul>
  </div>
</div>
