/******************************Singapore CSS*************************************/
.singaporeJumbo {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/assets/images/giving/singapore.jpg') center center/cover;
}

.singapore {
  padding: 100px 0;
}

.singaporeDesc {
  text-align: center;
  background-color: #F4F4F2;
  font-size: 18px;
  padding: 26px 0;
}

.singaporeWays {
  margin-top: 20px;
  padding-bottom: 50px;
}

.general {
  padding-right: 50px;
}

.singaporeGive {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-top: 10px;
}

.singaporeGive h4 {
  text-align: center;
}

.table-responsive th {
  text-align: center;
}
