<div class="jumbotronMini singaporeJumbo">
  <h1>Singapore Church Plant</h1>
</div>

<div class="singaporeDesc">
  <div class="singapore container">
    <div class="row">
      <h4>In the last 17 years, Grace Covenant Church (GCC) has had the privilege of planting the Journey Church of Atlanta (2004) and the Symphony Church in Boston (2010). We believe the church is God’s vehicle to display his glory to the world and therefore church planting is best way to share Christ’s fame among the nations. In the fall of 2014, GCC will be partnering with AMI to launch our third church plant into Singapore. We are excited that God has chosen Pastor Paul and his family to lead this church planting adventure.</h4>
    </div>
  </div>
</div>

<div class="singaporeWays">
  <div class="container">
    <div class="row">
      <div class="row">
        <h1>Singapore Church Plant</h1>
      </div>

      <div class="row">
        <h3>Vision</h3>
        <h4>Pastor Paul has been a missionary to Indonesia for the past 9 years. He is very familiar with that area and the world and has visited Singapore multiple times. He will be coming under AMI to plant this Singapore church. His heart is to plant a church that will spread the gospel in Singapore and also has strong tie to the gospel work into Indonesia. Currently Pastor Paul is visiting Singapore every month to build a team for the new church plant. In the fall of 2014, he will begin to commute weekly after launching a house church. We are praying for growth in numbers; building momentum; and lives to be changed as they worship, live in community, and serve their city.</h4>
        <h4>Please pray for God to bring together the right team to start a church in Singapore. Another big request is for God’s favor in the process of obtaining legal and immigration permission. Other factors include finances, traveling logistics, housing and team meeting areas. We do not yet know what the details look like, but we trust God to provide for us. We invite you to join in this exciting adventure that God has directed us towards by supporting us through prayer and finances.</h4>
      </div>

      <div class="row">
        <h3>Campaign Goals</h3>
        <div class="row singaporeGive">
          <h4>We are looking to raise $150,000</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>In Person</th>
                  <th>Online Payment</th>
                  <th>By Mail</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>During Sunday Service</th>
                  <th>
                    <div class="paypalGive">
                      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input name="cmd" type="hidden" value="_donations">
                        <input name="business" type="hidden" value="paypal@gracecovenant.net">
                        <input name="item_name" type="hidden" value="Singapore Church Plant">
                        <input name="no_shipping" type="hidden" value="0">
                        <input name="no_note" type="hidden" value="1">
                        <input name="currency_code" type="hidden" value="USD">
                        <input name="tax" type="hidden" value="0">
                        <input name="lc" type="hidden" value="US">
                        <input name="bn" type="hidden" value="PP-DonationsBF">
                        <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" type="image">
                        <img src="https://www.paypal.com/en_US/i/scr/pixel.gif" alt="" border="0">
                      </form>
                    </div>
                  </th>
                  <th>
                    <address>
                      3700 Baring Street<br>
                      Philadelphia, PA 19104
                    </address>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <h3>Prayer Requests</h3>
        <h4>For the church</h4>
        <ul class="list-group">
          <li class="list-group-item">
            <h4>God will provide the financial resource.</h4>
            We are praying that through GCC, GCC alumni, and AMI we will be able to raise the funds needed to make this church plant a success. We are praying right now to raise a minimum of $150,000 to support the church plant for three years.
          </li>
          <li class="list-group-item">
            <h4>God will provide the human resource.</h4>
            We are praying that God will provide a team to launch this church plant successfully. Pray for those who are trying to move to Singapore to help plant this church.
          </li>
          <li class="list-group-item">
            <h4>God will provide the spiritual resource.</h4>
            Pray that AMI and others will become the strong prayer support needed to make this Singapore Church Plant a great success in God’s eye.
          </li>
          <li class="list-group-item">
            <h4>Logistics</h4>
            Please pray for God’s favor in obtaining visas, fundraising, legalizing the church, housing, and finding suitable venues.
          </li>
          <li class="list-group-item">
            <h4>Interns</h4>
            Pray for God to prepare potential interns for a year of stepping out in faith. Also for their many logistical needs – fundraising, finding jobs, travel, dealing with culture stress, and future decision-making.
          </li>
          <li class="list-group-item">
            <h4>Vision</h4>
            Pray for a strong vision for worshipping Christ, living in community and blessing Singapore. Pray that God would raise up P. Paul to be a good shepherd like Jesus.
          </li>
        </ul>

        <h4>For Pastor Paul's Family</h4>
        <ul class="list-group">
          <li class="list-group-item"><h4>Health</h4>
            There has been a terrible haze that’s covered our city for the past month. It’s affected everything from work schedules to flight cancellations to health problems. Please pray for God to sustain and strengthen us especially as Ailsa, Hannah and Olivia struggle to rest well b/c of the smoke.</li>
          <li class="list-group-item"><h4>Courage</h4>
            Transitions are always scary. There’s so many details to think about and so many things that are out of your control. We feel this too. Please pray that we would be diligent in our preparations but also obedient to not be anxious but find our peace in the Lord.</li>
          <li class="list-group-item"><h4>Letting Go</h4>
            The transition has already begun to step back from the ministries that we have been a part of for the past 8 years. Please pray for wisdom in ending well.</li>
          <li class="list-group-item"><h4>Commuting</h4>
            Please pray for the family as P. Paul will be doing lots of traveling and spending time away from family. Pray for a strong family unity and good communication.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
