<div preload-bg-image="/assets/images/about/jumbotron.jpg" class="jumbotronMini about">
  <h1>Who We Are</h1>
</div>

<div class="messageAbout">
  <h4 id="welcomeAbout">Welcome! We’re glad you’re exploring our University City Site!</h4>
  <h4>As you take a look around, we hope you will catch a glimpse of what God is doing at GCC University City.</h4>
  <h4 id="links"><em>~~ Click the links below to learn more about who we are ~~</em></h4>
</div>
<div class ="containerAbout">
  <div class="row tilesAbout">

    <div class="col-sm-3 aboutcol">
      <a href="/#/about/imnew" class="aboutThumb tile">
        <img src="/assets/images/about/new.jpg" class="img-responsive"/>
        <h3>I'm New</h3>
      </a>
    </div>

    <div class="col-sm-3 aboutcol">
      <a href="/#/about/believe" class="aboutThumb tile">
        <img src="/assets/images/about/believe.jpg" class="img-responsive" />
        <h3>Beliefs</h3>
      </a>
    </div>

    <div class="col-sm-3 aboutcol">
      <a href="/#/about/staff" class="aboutThumb tile">
        <img src="/assets/images/about/staff.jpg" class="img-responsive"/>
        <h3>Meet Our Staff</h3>
      </a>
    </div>

    <div class="col-sm-3 aboutcol">
      <a href="/#/about/ami" class="aboutThumb tile">
        <img src="/assets/images/about/ami.jpg" class="img-responsive"/>
        <h3>AMI</h3>
      </a>
    </div>

  </div>
</div>
