<div class="jumbotronAbout">
  <h1>Who We Are</h1>
</div>

<div class="messageAbout">
  <h4 id="welcomeAbout">Welcome! We’re glad you’re exploring our University City Site!</h4>
  <h4>As you take a look around, we hope you will catch a glimpse of what God is doing at GCC University City.</h4>
  <h4 id="links"><em>~~ Click the links below to learn more about who we are ~~</em></h4>
</div>
<div class ="containerAbout">
  <div class="row tilesAbout">

    <a href=""><div class="col-sm-3 imgAbout">
      <div class="tile box1">
        <h2> I'm New </h2>
      </div>
    </div></a>

    <a href="/#/about/believe"><div class="col-sm-3 imgAbout">
      <div class="tile box2">
        <h2> What We Believe </h2>
      </div>
    </div></a>

    <a href="/#/about/staff"><div class="col-sm-3 imgAbout">
      <div class="tile box3">
        <h2> Meet Our Staff </h2>
      </div>
    </div></a>

    <a href="/#/about/ami"><div class="col-sm-3 imgAbout">
      <div class="tile box4">
        <h2> Acts Ministries International </h2>
      </div>
    </div></a>

  </div>
</div>
