<div class="giving container">
  <h1>Giving</h1>

  <p>We would love for you to partner with us in the work of raising up kingdom workers who are transformed by Christ to influence the world.</p>

  <p id="givingHelp">Here's how you can help:</p>
  <ul id="givingList">
    <li><a href="#">General Giving</a></li>
    <li><a href="#">Singapore Church Plant Donations</a></li>
    <li><a href="#">Short Term Missions Donations</a></li>
    <li><a href="#">University City Site: Ministry Center Donations</a></li>
  </ul>
</div>
