<div class="jumbotron banner">
  <div id="welcome" class="container">
    <h1>Grace Covenant Church</h1>
  </div>
</div>

<div class="jumbotron landing">
  <div id="motto" class="container">
    <h2>Raising up Kingdom Workers</h2>
    <h2>Who Are Transformed by Christ</h2>
    <h2>To Influence the World</h2>
  </div>
</div>

<div class="mainAnnouncements" ng-controller="mainAnnouncementsController">
  <div ng-repeat="announcement in ma">
    <div class="jumbotron announcements"  ng-style="{'background-image' : 'linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url({{'assets/images/' + announcement.pic}})'}">
      <div class="container">
        <h1 class="announcementHeader">{{announcement.title}}</h1>
        <h3 class="announcementDesc"><a href="#">{{announcement.description}}</a></h3>
      </div>
    </div>
  </div>
</div>
