
<form ngNoForm method="post" [action]=" '/admin/' + route + '/' + activeItem._id " enctype="multipart/form-data">
    <input name="_id" class="form-control" type="hidden" [value]="activeItem._id" readonly/>

    <div class="form-group">
        <label>Title</label>
        <input name="title" class="form-control" type="text" value="{{activeItem.title}}"/>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea rows="10" name="description" class="form-control" type="text" value="">{{activeItem.description}}</textarea>
    </div>

    <div class="form-group">
        <label>Link</label>
        <input name="link" class="form-control" type="text" value="{{activeItem.link}}"/>
    </div>

    <image-preview-input [item]="activeItem"></image-preview-input>

    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-danger" [href]=" '/admin/' + route + '/' + activeItem._id + '/delete'">Delete</a>
</form>
