/******************************Whole document styles **************************/

html {
  position: relative;
  height: auto;
  min-height: 100%;
}

body {
  font-family:'Gudea', sans-serif;
  margin-bottom: 60px; /*this must be the height of the footer!*/
  padding-top: 80px; /*this must be the height of the navbar!*/
}

.fade {
  opacity : 0;
}

/*****General Landing CSS*****************************************************/
.jumbotronMini {
  height: 60vh;
  padding-top: 1px;
  text-align: center;
}

.jumbotronMini h1 {
  margin-top: 25vh;
  color: white;
  font-family: 'bebasN', sans-serif;
}

.tile {
  text-align: center;
  color: white;
}

.tile:hover {
  color: #DDDDDD
}

/******************************About Staff CSS**************************************/
.container.staff {
  padding: 30px 80px;
}

.person {
  margin-bottom: 20px;
}

.container.staff img {
  width: 100%;
  height: 100%;
}

.person h2 {
  margin-bottom: 0;
}

.staff p {
  margin-top: 20px;
  font-size: 16px;
}
/******************************About ami CSS**************************************/
.container.ami {
  padding: 0 100px;
  font-size: 16px;
}

h1 {
  margin: 40px 0;
}
ul {
  margin: 15px;
  padding: 0;
}

/******************************About beliefs CSS*********************************/
.jumbotron.believe {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.25)), url('/assets/images/about/believe.jpg') center center/cover;
  height: 1000px;
}

.container.believe {
  margin-top: 75px;
  text-align: center;
}

.container.believe h4 {
  padding: 30px 0;
}

.container.believe .panel {
  width: 80%;
  margin: 0 auto;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  transition: background-color 0.5s;
}

.container.believe .panel:hover{
  cursor: pointer;
  background-color: rgba(50, 50, 50, 0.4);
}


/************ Family Group Landing CSS ****************************************/
.familygroup {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/assets/images/familygroup/jumbotron.jpeg') center center/cover;
}

.fgBackground {
  background-color: #F4F4F2;
  font-size: 18px;
  text-align: center;
}

.fgBackground2 {
  background-color: #657F80;
}

.container.fg {
  padding: 70px 100px;
}

.container.fg h1 {
  text-align: center;
  margin-top: 0;
}

.signUpRow {
  border-top: 1px solid gray;
  padding: 50px 0;
}

.signUpRow h2 {
  margin:0;
}

.signUpRow a {
  font-size: 20px;
}

/******************************Giving CSS*************************************/
.givingJumbo {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/assets/images/giving/jumbotron.jpeg') 50% 75%/cover;
}

.giving {
  padding: 100px 0;
}

.givingDesc {
  text-align: center;
  background-color: #F4F4F2;
  font-size: 18px;
  padding: 26px 0;
}

.giveWays {
  padding-bottom: 50px;
}

.ways3 {
  border: 1px solid red;
}
.ways1 {
  margin-top: 20px;
  border: 1px solid #ccc;
}

.ways2 {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.giveNote h4 {
  line-height: 1.5;
  margin-bottom: 10px;
}

.giveTile1 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/assets/images/giving/singapore.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 100px;
  height: 250px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

.giveTile2 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/assets/images/giving/missions.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 100px;
  height: 250px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.giveTile3 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/assets/images/giving/ministryCenter.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 250px;
  padding-top: 100px;
  color: white;
  text-align: center;
}

.oneTimeGive {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-top: 10px;
}

.repeatGive {
  margin-top: 10px;
}



/******************************Minstries CSS***********************************/
.ministries {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/assets/images/ministries/jumbotron.jpeg') top left/cover;
}

.ministriesMessage {
  text-align: center;
  background-color: #F4F4F2;
  font-size: 18px;
  text-align: center;
  padding: 110px 0;
}

.ministryGrid {
  padding-top: 50px;
}

.ministryTile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.ministryTile:hover {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.35), 0 8px 20px 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.ministryTile h2 {
  margin-top: 50px;
}

ministry-info {
  display: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
  margin: 30px 0;
}

ministry-info h1, ministry-info h5 {
  text-align: center;
}

ministry-info img {
  margin: 0 auto;
}

ministry-info p {
  font-size: 16px;
}

/******************************Multimedia CSS ********************************/
.multimediaSermons {
  height: 100vh;
  padding-top: 45vh;
  background: url('../assets/images/multimedia/sermons.jpg');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.multimediaPhotos {
  height: 100vh;
  padding-top: 45vh;
  background: url('../assets/images/multimedia/photos.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.multimediaVideos {
  height: 100vh;
  padding-top: 35vh;
  background: url('../assets/images/multimedia/videos.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.multimediaVideos a, .multimediaPhotos a, .multimediaSermons a {
  font-size: 100px;
  color: white;
  display: block;
}


/**************FONTS*****************************************************/
@font-face {
  font-family: bebasN;
  src: url('/assets/fonts/bebasneue-webfont.woff');
}
