#welcome {

}

#welcome .pageContent {
	margin: 50px 10%;
	font-size: 18px;
	font-family: 'Helvetica Neue';
	font-weight: 200;
}

#welcome .video {
	margin: 30px auto;
	width: 90%;
	height: 500px;
	background: gray;
}
