.container .title {
  margin-top: 75px;
}

.container .verbiage {
  font-size: small;
}

.container .verbiage p {
  padding-bottom: 1em;
}

.container .media {
  text-align: center;
  margin: 25px;
}

.container h3 {
  text-align: center;
}

.container .locations {
  text-align: center;
}
