/******************************Whole document styles **************************/
* {
  margin: 0;
  transition: opacity 3s;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family:'Gudea', sans-serif;
  margin-bottom: 60px; /*this must be the height of the footer!*/
  padding-top: 80px; /*this must be the height of the navbar!*/
}

.fade {
  opacity : 0;
}


/******************************Navbar CSS**************************************/
.navbar {
  background-color: white;
  height: 80px;
}

.navbar .container {
  padding: 0 100px;
}

.navbar .nav > li > a{
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  text-shadow: 0 0 0 black;
  font-size: 16px;

}
.navbar-brand img {
  height: 40px;
  margin-top: 5px;cd
}

/******************************Homepage CSS**************************************/
.jumbotronHome {
  height: 90vh;
  padding-top: 1px;
  margin-bottom: 0;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../images/home/philly.jpg') top left/cover no-repeat;
}

#welcome {
  text-align: center;
  color: white;
  margin-top: 40vh;
  font-family: 'Kalam', sans-serif;
}

#welcome h1 {
  font-size: 60px;
}

.landing {
  height: 45vh;
  background: white;
}

#motto {
  margin-top: 12vh;
  text-align: center;
  font-family: 'Kalam', sans-serif;
}

.announcements {
  height: 100vh;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.announcements h1{
  color: white;
  padding: 0;
}

.announcements h1 {
  margin-top: 40vh;
}

.announcements a {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 3px 30px;
}

.info {
  padding: 50px 0;
}

.info h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.info li {
  font-size: 16px;
  margin-bottom: 5px;
}
.pillars {
  margin-top: 50px;
}
.pillars .col-sm-3 {
  text-align: center;
  font-size: 16px;
}

.memoryVerse {
  background-position: 50% 10%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 40vh;
  padding-top: 10vh;
}

.mvContainer {
  text-align: center;
  width: 500px;
  margin: auto;
}
.memoryVerse h5 {
  margin-top: 30px;
  text-align: right;
}

/******************************About landing CSS**************************************/
.jumbotronAbout {
  height: 60vh;
  padding-top: 1px;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/assets/images/about/jumbotron.jpg') center center/cover;
}

.jumbotronAbout h1 {
  margin-top: 25vh;
  font-family: 'Kalam', sans-serif;
  color: white;
}

.messageAbout {
  text-align: center;
  padding: 8vh 0;
}

#links {
  margin-top: 40px;
}

.containerAbout {
  padding: 60px 100px;
  background-color: #F4F4F2;
}

.imgAbout {
  margin: 0;
  padding: 0 2px;
}

.box1 {
  background: url('/assets/images/about/new.jpg') top left/100% 100% no-repeat;
  height: 40vh;
}

.box2 {
  background:  url('/assets/images/about/believe.jpg') top left/100% 100% no-repeat;
  height: 40vh;
}

.box3 {
  background:url('/assets/images/about/staff.jpg') top left/100% 100% no-repeat;
  height: 40vh;
}

.box4 {
  background: url('/assets/images/about/ami.jpg') top left/100% 100% no-repeat;
  height: 40vh;
}

.tile {
  text-align: center;
  color: white;
  padding-top: 15vh;
}

.tile:hover {
  color: #DDDDDD
}

/******************************About Staff CSS**************************************/
.container.staff {
  padding: 30px 80px;
}

.person {
  margin-bottom: 20px;
}

.container.staff img {
  width: 100%;
  height: 100%;
}

.person h2 {
  margin-bottom: 0;
}

.staff p {
  margin-top: 20px;
  font-size: 16px;
}
/******************************About ami CSS**************************************/
.container.ami {
  padding: 0 100px;
  font-size: 16px;
}

h1 {
  margin: 40px 0;
}
ul {
  margin: 15px;
  padding: 0;
}

/******************************About beliefs CSS*********************************/
.jumbotron.believe {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.25)), url('/assets/images/about/believe.jpg') center center/cover;
  height: 90vh;
}

.container.believe {
  margin-top: 75px;
  text-align: center;
}

.container.believe h4 {
  padding: 30px 0;
}

.container.believe .panel {
  width: 80%;
  margin: 0 auto;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  transition: background-color 0.5s;
}

.container.believe .panel:hover{
  cursor: pointer;
  background-color: rgba(50, 50, 50, 0.4);
}


/******************************Footer CSS**************************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  overflow: hidden;
}

.footer .container {
  padding: 0 100px;
}

.footer p, .footer i {
  line-height: 55px;
}

.footer i {
  margin-left: 40px;
}

.footer a {
  font-size: 28px;
  color: white;
}
