* {
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family:'Karla', sans-serif;
  margin-bottom: 60px; /*this must be the height of the footer!*/
  padding-top: 10vh; /*this must be the height of the navbar!*/
}

/*Navbar CSS*/
.navbar {
  background-color: white;
  height: 10vh;
}

.navbar .container {
  padding: 0 100px;
}

.navbar .nav > li > a{
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  text-shadow: 0 0 0 black;
  font-size: 16px;

}
.navbar-brand img {
  height: 40px;
  margin-top: 5px;cd
}

/*home page*/
.jumbotron {
  height: 90vh;
  padding-top: 1px;
  margin-bottom: 0;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../images/philly.jpg') top left/cover no-repeat;
}

#welcome {
  text-align: center;
  color: white;
  margin-top: 40vh;
}

.landing {
  height: 45vh;
  background: white;
}

#motto {
  margin-top: 10vh;
  text-align: center;
}

.announcements {
  background: url('../images/welcome.jpg') top left/cover no-repeat;
}

/*footer CSS*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  overflow: hidden;
}

.footer .container {
  padding: 0 100px;
}

.footer p, .footer i {
  line-height: 55px;
}

.footer i {
  margin-left: 40px;
}

.footer a {
  font-size: 28px;
  color: white;
}
