.beliefs {
	.beliefsContent {
<<<<<<< HEAD
		margin: 100px 12.5%;
=======
		margin: 50px;
>>>>>>> Major Tiledeck rehaul

		.subtitle {
			font-size: 40px;
			font-weight: bold;
		}

		.section {
			text-align: center;
			padding-bottom: 75px;
		}

		.description {
			padding: 10px;
		}

		.list {
			padding: 10px;
			list-style-type: none;
		}
	}

	.image {
		height: 25vh;
	}
}
