.pageContent {
  margin: 100px 15%;

  .image {
    width: 100%;
    margin-bottom: 10px;
  }

  .subtitle, .link {
    font-size: 12px;
    color: rgb(172, 172, 172);
  }

  .description {
    padding-top: 20px;
  }
}
