.pageContent {
	margin: 100px 14.5%;
}

.description {
	padding: 30px 0px;
}

.media {
	margin: 30px auto;
	width: 100%;
	height: 500px;
	background-color: gray;
}

.signupTable{
	padding: 20px 0px;
}

.tableRow{
	margin: auto;
	padding: 20px 0px;
	display: flex;
	align-items: center;

	.column {
		flex: 50%;
		margin-right: 3%;
	}

	.tableMedia {
		width: 100%;
		min-width: 300px;
	}

	.content {
		flex: 50%;

		.textContainer {
			position: relative;

			.rowTitle {
				font-weight: bold;
				font-size: 24px;
				color: #444444;
			}

			.rowDays {
				font-size: 14px;
				color: #888888;
				padding-bottom: 5px;
				font-style: italic;
			}

			.rowDescription {
				padding: 10px 0px;
			}

			.rowSignup {
				padding: 10px 0px;
			}
		}
	}
}
