/**
* Title Banner
*/
.title {
  position: absolute;
  /*top: 40%;*/
  left: 10%;
  width: 70vw;
  color: 'white';
}

.subtitle h3, h4 {
  padding-bottom: 30px;
  /*font-family: 'Helvetica Neue';
  font-weight: normal;*/
}

/**
* Banner
*/
.infoButton {
  background-color: Transparent;
  color: white;
  border: 1px solid white;
  height: 50px;
  width: 200px;
  font-size: 18px;
  font-weight: 300;

  &:hover{
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
}
