.home {
  margin-bottom: 50px;
}

.titleSection {
  margin: 0 3%;
  height: 80%;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.titleSectionMission {
  font-size: 45px;
  font-weight: bold;
  margin: 10px 0;
}

.titleSectionLink {
  font-size: 18px;
  color: white;
  cursor: pointer;
  font-style: italic;
}

.titleSectionLink:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.titleSectionSubtitle {
  font-size: 32px;
  font-style: italic;
}

.infoSection {
  padding: 124px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.infoSectionHeader {
  font-size: 18px;
  color: gray;
  font-style: italic;
}

.infoSectionTimes {
  margin: 10px 0;
  font-size: 45px;
  font-weight: bold;
}

.infoSectionLocation {
  font-size: 32px;
  margin-bottom: 50px;
}

.infoSectionLink, .infoSectionLink:hover {
  margin-top: 30px;
  color: gray;
  font-style: italic;
  font-size: 18px;
}

.fgSection {
  width: 100%;
  height: 75%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fgSectionHeader {
  margin-top: 24px;
  font-size: 45px;
  font-weight: bold;
}

.fgSectionSubtitle {
  font-size: 32px;
  margin: 24px 0;
}

.fgSectionLink, .fgSectionLink:hover {
  font-size: 18px;
  color: white;
  font-style: italic;
}

.eventSection {
  padding: 80px 0;
  text-align: center;

  .image {
    width: 100%;
    margin-bottom: 10px;
  }

  .subtitle, .link {
    font-size: 12px;
    font-style: italic;
    color: rgb(172, 172, 172);
  }

  .description {
    padding-top: 20px;
  }

  .eventsContainer {
    margin: 20px 0px 40px 0px;
  }

  .eventSectionSubtitle, .eventSectionSubtitle:hover {
    color: gray;
    font-size: 18px;
    font-style: italic;
  }
}

.eventSectionEvents {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.eventSectionEventsError {
  font-size: 32px;
}

.eventSectionEvents {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.eventSectionEventsError {
  font-size: 32px;
}

.centeredSection {
  text-align: center;
  color: white;

  .title {
    font-size: 45px;
    font-weight: bold;
    margin: 40px 0px;

    .downloadLink {
      color: white;
    }

    .downloadLink:hover {
      text-decoration: none;
    }
  }

  .download {
    .downloadButton{
      height: 50px;
      margin: 0px 20px;
    }
  }

  .subtitle {
    font-size: 32px;
    margin: 40px 0px;
  }
}

.emptySection {
  padding: 80px 27.5%;
  text-align: center;

  .title {
    color: #979797;
    font-size: 18px;
    font-style: italic;
    margin: 40px 0px;
  }

  .memoryVerse {
    font-size: 32px;
    font-weight: bold;
    margin: 40px 0px;
  }

  .footerText {
    color: #979797;
    font-size: 18px;
    font-style: italic;
    margin: 40px 0px;
  }
}
