.titleSection {
  margin: 0 10px;
  height: 80%;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.titleSectionMission {
  font-size: 54px;
  font-weight: bold;
  margin: 10px 0;
}

.titleSectionLink {
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.titleSectionLink:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.infoSection {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.infoSectionHeader {
  font-size: 18px;
  color: gray;
}

.infoSectionTimes {
  margin: 30px 0;
  font-size: 36px;
  font-weight: bold;
}

.infoSectionLocation {
  font-size: 24px;
}

.infoSectionLink, .infoSectionLink:hover {
  margin-top: 30px;
  color: gray;
}

.fgSection {
  margin: 0 10px;
  height: 75%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fgSectionHeader {
  margin-top: 20px;
  font-size: 64px;
  font-weight: bold;
}

.fgSectionSubtitle {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.fgSectionLink, .fgSectionLink:hover {
  font-size: 18px;
  color: white;
}

.eventSection {
  padding: 80px 0;
  text-align: center;
}

.eventSectionSubtitle, .eventSectionSubtitle:hover {
  color: gray;
  font-size: 18px;
}

.eventSectionEvents {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.eventSectionEventsError {
  font-size: 36px;
}