#ministries{
	.pageContent{
		margin: 100px 5%;
	}

	.subtitle {
		font-size: 12px;
		font-style: italic;
		color: rgb(172, 172, 172);
	}

	.description {
		padding-top: 20px;
	}

	.image {
		height: 25vh;
	}
}
