#ministries{
	.pageContent{
		display: grid;
		grid-column-gap: 5%;
		grid-row-gap: 50px;
		margin: 50px 10%;
		text-align: center;
		grid-template-columns: 1fr;

		@media(min-width: 600px){
			grid-template-columns: 1fr 1fr;
		}

		@media(min-width: 900px){
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	.ministryBox{
		background: #E3E3E3;
		width: 100%;
		height: 300px;

		&:hover{
			background: #D3D3D3;
			cursor: pointer;
		}
	}
}
