.pageContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 125px;
}

.staffBox {
    margin: 25px;
    text-align: center;
}

.staffContainer {
    display: flex;
    flex-direction: column;
}

.staffRow {
    display: flex;
    justify-content: center;
}

.first {
    order: -1;
}

.staffBiography {
    display: none;
}

.staffBiographyOpen {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.staffName {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #555;
}

.staffTitle {
    font-size: 14px;
    color: #AAA;
}

.staffImage {
    width: 250px;
    height: 250px;
    &:hover{
        cursor: pointer;
    }
}

.staffImageOpen {
    width: 400px;
    height: 400px;
}
