.pageContent {
    margin: 50px;
}

.subtitle {
    font-size: 12px;
    font-style: italic;
    color: rgb(172, 172, 172);
}

.description {
    padding-top: 20px;
}

.image {
    width: 100%;
    padding-bottom: 20px;
}