.pageContent {
    margin: 100px 12.5%;
}

.link {
  font-weight: bold;
  color: black;
}

.link:hover {
  color: black;
  text-decoration: none;
  opacity: 0.5;
}

.header {
  font-weight: bold;
}

.description {
  padding: 30px 0px;
}

.media {
	margin: 30px auto;
	width: 75%;
	height: 550px;
	background: gray;
}

.maps {
  width: 75%;
  height: 75%;
  margin: 25px auto;
}
