
/******************************About im new CSS*********************************/
.container.imnew {
  padding: 10px 100px;
}

.imnewcol {
  height: 25vh;
}

.newVid {
  height: 50vh;
  text-align: center;
  margin: 10px 0;
}

.imnewcol {
  margin-bottom: 5px;
  padding: 0 1px;
  height: 100%;
}

.words {
  font-size: 16px;
}

#commonQ {
  margin-bottom: 0;
  font-size: 20px;
}

#commonQList {
  margin-top: 0;
}

.maps {
  padding: 10px 0;
  border: 1px solid #EEEEEE;
}
