<div class="jumbotronMini ministryCenterJumbo">
  <h1>Ministry Center Donation</h1>
</div>

<div class="ministryCenterDesc">
  <div class="ministryCenter container">
    <div class="row">
      <h4>Grace Covenant Church recently purchased a ministry center for the University City Site! If you would like to donate, please take a look below on how you can contribute!</h4>
    </div>
  </div>
</div>

<div class="ministryCenterWays">
  <div class="container">
    <div class="row">
      <div class="row">
        <h1>Ministry Center Donation</h1>
      </div>

      <div class="row">
        <h3>Vision</h3>
        <h4>Donating via check or cash will save GCC transaction fees. Alternatively, if you have a PayPal account, sending money directly to paypal@gracecovenant.net via the “send money to friends and family” option in PayPal will also save GCC transaction fees.</h4>
      </div>

      <div class="row">
        <div class="row ministryCenterGive">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>In Person</th>
                  <th>Online Payment</th>
                  <th>By Mail</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>During Sunday Service</th>
                  <th>
                    <div class="paypalGive">
                      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input name="cmd" type="hidden" value="_donations">
                        <input name="business" type="hidden" value="paypal@gracecovenant.net">
                        <input name="item_name" type="hidden" value="Ministry Center Donation">
                        <input name="no_shipping" type="hidden" value="0">
                        <input name="no_note" type="hidden" value="1">
                        <input name="currency_code" type="hidden" value="USD">
                        <input name="tax" type="hidden" value="0">
                        <input name="lc" type="hidden" value="US">
                        <input name="bn" type="hidden" value="PP-DonationsBF">
                        <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" type="image">
                        <img src="https://www.paypal.com/en_US/i/scr/pixel.gif" alt="" border="0">
                      </form>
                    </div>
                  </th>
                  <th>
                    <address>
                      3700 Baring Street<br>
                      Philadelphia, PA 19104
                    </address>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
