<div class="ami container">
  <h1> Acts Ministries International </h1>

  <p> Grace Covenant is a member church of Acts Ministries International. </p>

  <p><a target="_blank" href="http://amichurches.com/">Acts Ministries International (AMI)</a>
    began in 2002 with a group of pastors
    who had a vision to restore the early church that was seen in Acts 2.
    We envision AMI to be more than a denomination or an association.
    It is a community of churches seeking to model the spirituality, vision,
    and partnership exemplified in the book of Acts.</p>

  <p>AMI is committed to developing disciples of Christ within our churches,
    as well as spreading the gospel message to unreached people through church
    planting and missions work.</p>

  <ul>
    <li>Agreement: Our partnership within AMI is based on agreement with the
      three S’s: Statements, Spirituality, and Supervision.</li>
    <li>Statements: We agree on our statements of faith, purpose, and mission
      in order to have a common foundation and framework as we work together.
      Looking into the Bible, we found that God has given certain values and
      directions to His church as His representatives in the world.
       From these scriptural values we take our Statements.</li>
    <li>Spirituality: AMI churches also have a common Spirituality. Our desire
      to passionately pursue God brings us together as it is expressed in worship,
      prayer, and ministry. This Spirituality keeps us going in the same direction
      as we do ministry.</li>
    <li>Supervision: We highly value Supervision. We need accountability between
      churches to faithfully continue in our ministry because our hearts are prone
      to wander from God. AMI’s leadership team provides oversight for our
      ministries, and is able to address any issues that may arise.</li>
  </ul>
</div>
