<div class="jumbotronMini givingJumbo">
  <h1>Giving</h1>
</div>

<div class="givingDesc">
  <div class="giving container">
    <div class="row">
      <h4>Welcome to GCC’s giving resource!</h4>

      <h4>We would love for you to partner with us
         in the work of raising up kingdom workers who are transformed by Christ to
         influence the world.</h4>
    </div>
  </div>
</div>

<div class="giveWays">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 general">

        <div class="row">
          <h1>General Giving</h1>
        </div>

        <div class="row">
          <h4>Here are three general ways for you to contribute:</h4>
        </div>

        <div class="row ways1">
          <div class="col-sm-4">
            <h4><strong>In Person</strong></h4>
          </div>

          <div class="col-sm-4">
            <h4><strong>By Mail</strong></h4>
          </div>

          <div class="col-sm-4">
            <h4><strong>By Paypal or Credit Card</strong></h4>
          </div>
        </div>

        <div class="row ways2">
          <div class="col-sm-4">
            <h4>During Sunday Service</h4>
          </div>

          <div class="col-sm-4">
            <h4>P.O. Box 13177</h4>
            <h4>Philadelphia PA 19101	</h4>
          </div>

          <div class="col-sm-4">
            <h4>Please see the options below</h4>
          </div>
        </div>

        <div class="row giveNote">
          <h4>Note: Donating via check or cash will save GCC transaction fees.
            Alternatively, if you have a PayPal account, sending money directly
            to <strong>paypal@gracecovenant.net</strong> via the <strong><em>send money to friends and family</em></strong>
            option in PayPal will also save GCC transaction fees.</h4>
        </div>

        <div class="row giveLinks">
          <h4>Those without a PayPal account can donate via credit card below.</h4>
        </div>

        <div class="row oneTimeGive">
          <h4>One time</h4>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input name="cmd" type="hidden" value="_donations">
            <input name="business" type="hidden" value="paypal@gracecovenant.net">
            <input name="item_name" type="hidden" value="GCC Kingdom Vision Fund">
            <input name="no_shipping" type="hidden" value="0">
            <input name="no_note" type="hidden" value="1">
            <input name="currency_code" type="hidden" value="USD">
            <input name="tax" type="hidden" value="0">
            <input name="lc" type="hidden" value="US">
            <input name="bn" type="hidden" value="PP-DonationsBF">
            <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" type="image">
            <img src="https://www.paypal.com/en_US/i/scr/pixel.gif" alt="" border="0"></form>
        </div>

        <div class="row repeatGive">
          <h4>Recurring Donations</h4>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input name="cmd" type="hidden" value="_xclick-subscriptions">
            <input name="business" type="hidden" value="paypal@gracecovenant.net">
            <input name="lc" type="hidden" value="US">
            <input name="item_name" type="hidden" value="GCC Kingdom Vision Fund - Recurring Donation">
            <input name="item_number" type="hidden" value="1234">
            <input name="no_note" type="hidden" value="1">
            <input name="no_shipping" type="hidden" value="0">
            <input name="src" type="hidden" value="1">
            <input name="p3" type="hidden" value="1">
            <input name="currency_code" type="hidden" value="USD">
            <input name="bn" type="hidden" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHosted"><p></p>

            <h5>When would you like this to recur?</h5>
            <select name="t3">
              <option value="D">Daily</option>
              <option value="M">Monthly</option>
              <option value="Y">Yearly</option>
            </select>

            <h5>How many times would you like this to recur? (including this payment)</h5>
            <select name="srt">
              <option value="0">Never End</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>

            <h5>Enter your donation amount:</h5>
            <input maxlength="60" name="a3" type="text">
            <h5><input alt="PayPal - The safer, easier way to<br /> pay online!" name="submit" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" type="image"><br>
            <img src="https://www.paypal.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0"></h5>
          </form>
        </div>

      </div>
      <div class="col-sm-4">
        <h1>Causes</h1>
        <a class="tile" href="/singapore"><div class="giveTile1">
          <h4>Singapore</h4>
        </div></a>

        <a class="tile" href=""><div class="giveTile2">
          <h4>Short term Missions</h4>
        </div></a>

        <a class="tile" href=""><div class="giveTile3 tile">
          <h4>Ministry Center</h4>
        </div></a>

      </div>
    </div>
  </div>
</div>
